# Base Env
NODE_ENV=
APP_PORT=
APP_URL=
API_URL=

# Jwt Credentials
APP_ACCESS_TOKEN_SECRET_KEY=
APP_ACCESS_TOKEN_EXPIRES_IN=
APP_REFRESH_TOKEN_SECRET_KEY=
APP_REFRESH_TOKEN_EXPIRES_IN=

# Mysql Credentials
APP_DATABASE_HOST=
APP_DATABASE_USER=
APP_DATABASE_PASSWORD=
APP_DATABASE_NAME=